<header>
  <h1 class="headline"> 四国 </h1>
</header>
<%= link_to "青森", prefecture_tokushima_path, class:"btn btn-light"%>
<%= link_to "青森", prefecture_kagawa_path, class:"btn btn-light"%>
<%= link_to "青森", prefecture_aichi_path, class:"btn btn-light"%>
<%= link_to "青森", prefecture_kochi_path, class:"btn btn-light"%>

<%= render 'post_images/list', post_images: @post_images %>