<div class="col-md-1 mt-5">
  <table class="area">
    <tr><td><%= link_to "北海道", area_hokkaido_path %></td></tr>      <tr><td><%= link_to "東北", area_tohoku_path %></td></tr>
    <tr><td><%= link_to "関東", area_kanto_path %></td></tr>
    <tr><td><%= link_to "中部", area_tyubu_path %></td></tr>
    <tr><td><%= link_to "関西", area_kansai_path %></td></tr>
    <tr><td><%= link_to "中国", area_tyugoku_path %></td></tr>
    <tr><td><%= link_to "四国", area_shikoku_path %></td><tr>
    <tr><td><%= link_to "九州", area_kyusyu_path %></td></tr>
    <tr><td><%= link_to "沖縄", area_okinawa_path %></td></tr>
  </table>
</div>