<div class="post-body ml-5 mt-3">
  <p>
  <% if @post_image.image? %>
    <div class="thumbnail">
      <%= image_tag @post_image.image.url %>
    </div>
  <% end %>
  </p>
  <h3><%= @post_image.name %></h3>
  <p><%= @post_image.caption %></p>
  <%= render_with_hashtags(@post_image.caption) %>
  <p>
    <% if @post_image.user.image? %>
      <div class="thumbnail">
      <%= link_to user_path(@post_image.user) do %>
        <%= @post_image.user.name %>
        <%= image_tag @post_image.user.image.url, size: "40x40", fallback: "no_image.jpg", class:"mt-3 rounded-circle"; %>
      <% end %>
      </div>
    <% end %>
    <% unless current_user == @post_image.user %>
      <% if current_user.following?(@post_image.user) %>
        <%= link_to "フォローを外す", user_relationships_path(@post_image.user.id), method: :delete, class:"btn btn-default"%>
      <% else %>
        <%= link_to "フォローする", user_relationships_path(@post_image.user.id), method: :post, class:"btn btn-primary"%>
      <% end %>
    <% end %>
  </p>
  <p><%= @post_image.created_at.strftime('%Y/%m/%d') %></p>
  <% if @post_image.user == current_user %>
  <%= link_to "編集", edit_post_image_path(@post_image), class:"btn btn-light" %>
  <%= link_to "削除", post_image_path(@post_image), method: :delete, class:"btn btn-light" %>
  <% end %>

<script type="text/javascript">
    function initMap() {

        var test ={lat: <%= @post_image.latitude %>, lng: <%= @post_image.longitude %>};

        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 15,
            center: test
        });
        var transitLayer = new google.maps.TransitLayer();
        transitLayer.setMap(map);

        var contentString = '住所：<%= @post_image.address %>';
        var infowindow = new google.maps.InfoWindow({
            content: contentString
        });

        var marker = new google.maps.Marker({
            position:test,
            map: map,
            title: contentString
        });

        marker.addListener('click', function() {
            infowindow.open(map, marker);
        });
    }
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?v=3.exp&key=<%= ENV["GOOGLE_MAP_API_KEY"] %>&callback=initMap">
</script>

<h5 class="mb-3">総合評価：<%= @post_image.rate %>点</h5>


<div id="star-rate-<%= @post_image.id %>"></div>
          <script>
          $('#star-rate-<%= @post_image.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= @post_image.rate %>,
          });
          </script>
<h5 class="mb-3">写真映え：<%= @post_image.photo_rate %>点</h5>


<div id="star-photo-rate-<%= @post_image.id %>"></div>
          <script>
          $('#star-photo-rate-<%= @post_image.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= @post_image.photo_rate %>,
          });
          </script>

<h5 class="mb-3">値段：<%= @post_image.price_rate %>点</h5>


<div id="star-price-rate-<%= @post_image.id %>"></div>
          <script>
          $('#star-price-rate-<%= @post_image.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= @post_image.price_rate %>,
          });
          </script>


<p>
  <strong>Address:</strong>
  <%= @post_image.address %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @post_image.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @post_image.longitude %>
</p>

<style type="text/css">
  #map { height: 400px;
    margin-left:auto;
    margin-right:auto;
    text-align:left;
    width: 80%;}
</style>
<div id="map"></div>

  <% if @post_image.favorited_by?(current_user) %>
  <p class="text_dark">
    <%= link_to post_image_favorites_path(@post_image), method: :delete, class:"text-success" do %>
    ♥<%= @post_image.favorites.count %> いいね
    <% end %>
  </p>
  <% else %>
  <p>
    <%= link_to post_image_favorites_path(@post_image), method: :post, class:"text-success" do %>
    ♡<%= @post_image.favorites.count %> いいね
    <% end %>
  </p>
  <% end %>
</div>

<div class="comments ml-5">
  <% if @post_comment.errors.any? %>
  <%= @post_comment.errors.count %>件のエラーが発生しました
  <% @post_comment.errors.full_messages.each do |message| %>
  <%= message %>
  <% end %>
  <% end %>
  <p>コメント件数：<%= @post_image.post_comments.count %></p>
<table>
  <% @post_image.post_comments.each do |post_comment| %>
  <tr>
  <td><%= image_tag post_comment.user.image.url, size: "40x40", fallback: "no_image.jpg", class:"rounded-circle"; %></td>
  <td><%= post_comment.user.name %></td>
  <td><%= post_comment.created_at.strftime('%Y/%m/%d') %><%= post_comment.comment %></td>
  <% if post_comment.user == current_user %>
  <div class="comment-delete">
    <td><%= link_to "削除", post_image_post_comment_path(post_comment.post_image, post_comment), method: :delete, class:"editlink" %></td>
  </div>
  <% end %>
  <% end %>
  </tr>
</table>
</div>
<div class="new-comment ml-5 mb-5">
  <%= form_with(model:[@post_image, @post_comment], local: true) do |f| %>
  <%= f.text_area :comment, rows:'5',placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
  <% end %>
</div>